.App {
  text-align: center;
}

.registration, .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 250px;
  height: 30px;
  background-color: rgb(238, 238, 238);
}

.MenuBtn{
  width: 15em;
    background-color: #4AB8DF;
    color: rgb(255, 255, 255);
    /* border-radius: 55%; */
    font-size: 1.5em;
    margin: 5px;
    border-style: ridge;
    border-color: white;
    padding: .3em;
}

.navbar-header{
  color: black;
  font-size: 1em;
  max-height: 30px;
  width: 100%;
  background-color: #4AB8DF;
  margin-bottom:50px ;
}

.navbar-header a {
  color: black;
  font-size: 1em;
 
}

.menuBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.inputBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 50%;
  align-items: center;
}
