.Card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(224, 169, 169);
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.App {
  text-align: center;
}

.registration, .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


thead{
  font-size: 12px;
}

.PageHead{
  width: 10em;
    background-color: #4AB8DF;
    color: rgb(255, 255, 255);
    border-radius: 5%;
    font-size: 2em;
    margin: auto;
    /* border-style: ridge;
    border-color: white; */
    padding: 0em;
    justify-content: center;
    text-align: center;
    display: flex;
    vertical-align: middle;
    box-shadow: 10px 10px 5px grey;
    margin-bottom: 15px;
}
.MainMenuBtn{
  width: 12em;
    background-color: #4AB8DF;
    color: rgb(255, 255, 255);
    border-radius: 4%;
    font-size: 1.9em;
    margin: auto;
    padding: .4em;
    justify-content: center;
    text-align: center;
    display: flex;
    vertical-align: middle;
    box-shadow: 10px 10px 5px grey;
   
}



.navbar-header{
  color: black;
  font-size: 1em;
  max-height: 30px;
  width: 100%;
  background-color: #4AB8DF;
  margin-bottom:20px ;
}

.navbar-header a {
  color: black;
  font-size: 1em;
 
}

.menuBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.inputBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width:100%;
  align-items: center;
  margin: auto;
  background-color: #dbf4fd;
  box-shadow: 10px 10px 5px grey;
  padding: 15px;
}
.missionInfo {
  text-align: center;
  justify-content: center;
  /* height: fit-content; */
  height: 5%;
  width: 100%;
  align-items: center;
  margin: auto;
  background-color: #ebf3f5;
  box-shadow: 10px 10px 5px grey;
  padding: 2px;
  border-color: #ccc;
  border-width: 2px;
  border-style: solid; 
}

.textBlock {
  
  text-align: center;
  justify-content: center;
  width:80%;
  align-items: center;
  margin-top: 5px;
  margin: auto;
  background-color: #ebf3f5;
  box-shadow: 10px 10px 5px grey;
  padding: 10px;
  border-color: #ccc;
  border-width: 2px;
  border-style: solid; 
}

/* Tabbed Headers*/
.tabs{
  border-color: #ccc;
  border-width: 0px;
  border-style: solid; 
  border-top: 1px;
  justify-content: center;
  align-content: center;
  /* padding: 10px; */
  margin-top: 25px;
}
.tab-list {  
  /* border: 1px solid #ccc; */
  min-width: 100%;
  padding: 0;
  border-top: 2px;
  border-bottom: 0px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  
  
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.5rem;
  background-color: #dbf4fd;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
 
}

.tab-list-active {
  background-color: white;
  /* border: solid #ccc; */
  box-shadow: 5px 5px 5px grey;
  font-weight: bold;
  /* border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 2px solid #ccc;
  border-bottom: 0px solid #ccc; */
}

.TabbedContainer{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: solid #224e5e;
  border-width: 1px 1px 1px 1px; */
  /* border-top: 0px; */
  background-color: rgb(255, 255, 255);
  width: 95%;
  margin: auto;
  margin-bottom: 20px;
  

}

input {
  width: 300px;
  height: 30px;
  background-color: #f0fbff;
  margin-top: 15px ;
  padding: 5px ;
  border-radius: 3% ;
}

.addElement {
  width: 300px;
  height: 30px;
  background-color: #f0fbff;
  margin-top: 5px ;
  margin-bottom: 5px ;
  padding: 5px ;
  border-radius: 3% ;
}

.SubMenuBtn{
  width: 8em;
    background-color: #4AB8DF;
    color: rgb(8, 8, 8);
    font-size: .25em;
    margin: auto;
    padding: .1em;
    justify-content: center;
    text-align: center;
    display: flex;
    vertical-align: middle;
    box-shadow: 8px 8px 5px grey;
   
}