.App {
  text-align: center;
}

.registration, .login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  width: 250px;
  height: 30px;
  background-color: rgb(238, 238, 238);
  margin: 15px;
  padding: 5px;
}
thead{
  font-size: 12px;
}

.PageHead{
  width: 10em;
    background-color: #4AB8DF;
    color: rgb(255, 255, 255);
    border-radius: 5%;
    font-size: 2em;
    margin: auto;
    /* border-style: ridge;
    border-color: white; */
    padding: 0em;
    justify-content: center;
    text-align: center;
    display: flex;
    vertical-align: middle;
    box-shadow: 10px 10px 5px grey;
    margin-bottom: 100px;
}
.MainMenuBtn{
  width: 10em;
    background-color: #4AB8DF;
    color: rgb(255, 255, 255);
    border-radius: 4%;
    font-size: 2em;
    margin: auto;
       padding: 0em;
    justify-content: center;
    text-align: center;
    display: flex;
    vertical-align: middle;
    box-shadow: 10px 10px 5px grey;
   
}

.navbar-header{
  color: black;
  font-size: 1em;
  max-height: 30px;
  width: 100%;
  background-color: #4AB8DF;
  margin-bottom:30px ;
}

.navbar-header a {
  color: black;
  font-size: 1em;
 
}

.menuBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.inputBox {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  width: 50%;
  align-items: center;
  margin: auto;
  background-color: #dbf4fd;
  box-shadow: 10px 10px 5px grey;
}

/* Tabbed Headers*/
.tabs{
  border-color: #ccc;
  border-width: 0px;
  border-style: solid; 
  border-top: 0;
  justify-content: center;
  align-content: center;
  /* padding: 10px; */
  margin-top: 25px;
}
.tab-list {  
  /* border: 1px solid #ccc; */
  min-width: 100%;
  padding: 0;
  border-bottom: 0px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  
  
}

.tab-list-item {
  display: inline-block;
  list-style: none;
  margin-bottom: -1px;
  padding: 0.5rem 0.5rem;
  background-color: #dbf4fd;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
 
}

.tab-list-active {
  background-color: white;
  /* border: solid #ccc; */
  box-shadow: 5px 5px 5px grey;
  font-weight: bold;
  /* border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-right: 2px solid #ccc;
  border-bottom: 0px solid #ccc; */
}

.TabbedContainer{
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  text-align: center;
  /* border: solid #224e5e;
  border-width: 1px 1px 1px 1px; */
  /* border-top: 0px; */
  background-color: rgb(255, 255, 255);
  width: 95%;
  margin: auto;
  margin-bottom: 50px;
  

}